@import '../../vars.scss';

.action-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  color: #fff;
  border-radius: $icon-button-border-radius;
  box-shadow: $shadow;

  .action-button {
    &:first-child {
      border-top-left-radius: $icon-button-border-radius;
      border-bottom-left-radius: $icon-button-border-radius;
    }
    &:last-child {
      border-top-right-radius: $icon-button-border-radius;
      border-bottom-right-radius: $icon-button-border-radius;
    }
    background-color: $dark;
    cursor: pointer;
    padding: 25px;
    .action-button-icon {
      font-size: 64px;
    }
    &:hover {
      background-color: $lighDark;
    }
  }
}
