<div class="container" [style.--font-size.px]="fontSize()">
  <label [for]="id()"> {{ placeholder() }}: </label>
  <div class="input-container">
    <input
      #inputField
      [type]="inputTypeInternal()"
      [pattern]="numberPattern()"
      [name]="id()"
      [id]="id()"
      (blur)="onBlur()"
      (focus)="onFocus()"
      (input)="onInput()"
      [ngModel]="value()"
      (ngModelChange)="value.set($event)"
      [disabled]="isDisabled()"
      [attr.data-testid]="name + '-input'"
    />
    @if (firstValidationError(); as error) {
      <div class="error" [title]="error">|-{{ errorCount() }}</div>
    }
  </div>
</div>

@if (caret(); as caret) {
  <div
    #caret
    class="caret"
    [style.left.px]="caret.left"
    [style.top.px]="caret.top"
    [style.height.px]="caret.height"
  >
    <div></div>
  </div>
}
