@use 'vars';

.container {
  display: flex;
  gap: 0 12px;
  position: relative;
  flex-wrap: wrap;
  margin-bottom: 2px;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 4px solid black;
    outline: 5px solid white;
    @include vars.static-squiggle(s);
  }
  &:has(input:focus) {
    &::after {
      @include vars.squiggly;
    }
    label {
      @include vars.squiggly;
    }
  }

  label {
    @include vars.fontSize(var(--font-size));
  }

  .input-container {
    display: flex;
    flex-grow: 1;
  }

  input {
    background: transparent;
    border: none;
    font-family: vars.$fontFamily;
    @include vars.fontSize(var(--font-size));
    width: 200px;
    flex-grow: 1;
    outline: none;
    caret-color: white;
    &:focus {
      @include vars.squiggly;
    }
  }

  .error {
    color: red;
    @include vars.squiggly;
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.caret {
  position: fixed;
  width: 1px;
  mix-blend-mode: multiply;
  animation: blink 0.9s infinite;
  animation-timing-function: steps(1, end);

  div {
    border-left: 2px black solid;
    border-right: 2px black solid;
    outline: 4px solid white;
    width: 100%;
    height: 100%;
    @include vars.squiggly;
  }
}

//
//
//
//
// Remove browser numberbox styles
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
  margin: 0;
}
