:host {
  display: unset;
}

.dialog-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: brightness(0.85);
}

.dialog {
  position: absolute;
  padding: 16px;
  width: min(400px, 90vw);
  height: max-content;
  left: calc(50% - 0.5 * min(400px, 90vw));
  top: calc(50% - 0.5 * min(400px, 90vw));
  border-radius: 4px 4px 14px 14px;
  min-height: min(400px, 90vw);
  background: conic-gradient(from 90deg at 1.1px 1.1px, #fffde3 25%, #c9c9c9 0);
  background-size: 25px 25px;
  ::ng-deep > * {
    display: contents;
  }
  transition: box-shadow 0.2s ease;
  box-shadow: 5px 10px 7px rgba(33, 33, 33, 0.7);
  &.dialog:hover {
    box-shadow: 0 10px 20px rgba(33, 33, 33, 0.7);
    .tape {
      filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2)) drop-shadow(0 -15px 15px rgba(0, 0, 0, 0.2));
    }
  }
  .tape {
    display: block;
    mix-blend-mode: multiply;
    position: absolute;
    top: -400px;
    left: calc(-400px + 50%);
    transform: scale(0.4);
    pointer-events: none;
    transition: filter 0.2s ease;
    filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
  }
}
