:host {
  display: unset;
}

.dialog-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: filter 0.2s ease;
  filter: drop-shadow(5px 10px 7px rgba(33, 33, 33, 0.7));
  &:has(.dialog:hover) {
    filter: drop-shadow(0 10px 20px rgba(33, 33, 33, 0.7));
  }
  .dialog {
    position: relative;
    padding: 16px;
    width: min(400px, 90vw);
    height: max-content;
    min-height: min(400px, 90vw);
    background: conic-gradient(from 90deg at 1.1px 1.1px, #fffde3 25%, #c9c9c9 0);
    background-size: 25px 25px;
    ::ng-deep > * {
      display: contents;
    }
    .tape {
      display: block;
      mix-blend-mode: multiply;
      position: absolute;
      top: -400px;
      left: calc(-400px + 50%);
      transform: scale(0.4);
      pointer-events: none;
    }
  }
}
