.canvas-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  canvas {
    background: white;
    height: 100%;
    width: 100%;
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
    transform: scale(var(--zoom)) translateX(var(--offsetX)) translateY(var(--offsetY));
  }
}
