<div #canvasContainer class="canvas-container" [class.is-history]="isHistory()">
  <canvas
    #canvas
    [width]="settings().width"
    [height]="settings().height"
    (wheel)="gotWheel($event)"
    (pointerdown)="mouseDown($event)"
    (pointerup)="mouseUp($event)"
    (pointerleave)="mouseLeave()"
    (pointermove)="mouseMove($event)"
    (contextmenu)="(false)"
    [style.--zoom]="zoom()"
    [style.--offsetX.px]="offsetX()"
    [style.--offsetY.px]="offsetY()"
    [style.--cursor]="allowPaint() ? 'none' : 'default'"
    [class.is-drawing]="allowPaint()"
  ></canvas>
</div>
