<div id="lobby-iterations"
     (wheel)="scroll($event)">
  <div *ngFor="let iteration of lobby.pixelIterations"
       class="lobby-iteration"
       [style.--zoom]="zoomValue + 'px'">
    <canvas #canvas
            [width]="width"
            [height]="height">
    </canvas>
    <div class="footer">
      <span>{{iteration.name}}</span>
      <i aria-hidden="true"
         (click)="editIteration(iteration)"
         class="edit-icon fal fa-pencil"></i>
    </div>
  </div>
</div>

<app-actions [actionItems]="actionItems"></app-actions>
