:host {
  height: 100%;
}

#lobby-iterations {
  display: flex;
  gap: 20px;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: center;
  max-height: 90vh;
  .lobby-iteration {
    width: var(--zoom);
    height: var(--zoom);
    canvas {
      height: 100%;
      width: 100%;
      image-rendering: pixelated;
      image-rendering: -moz-crisp-edges;
      background-color: white;
    }
  }
}
