<div class="checkbox-root"
     (blur)="onBlur()">
  <input type="checkbox"
         [name]="identifierSig()"
         (blur)="onBlur()"
         [id]="identifierSig()"
         [tabindex]="inputTabIndexSig()"
         [ngModel]="isCheckedSig()"
         (ngModelChange)="setIsChecked($event)" />
  <label [for]="identifierSig()">
    <span class="checkIconBg"
          [style.background]="colorSig()">
      <i class="fa-{{ iconNameSig() }} checkIcon fal"></i>
    </span>
    <span class="checkDescription">
      {{ labelTextSig() }}
    </span>
  </label>
</div>
