.card-content {
  #new-lobby-how-to {
    text-align: justify;
    width: 90%;
  }
  .side-by-side {
    margin: 58px 0;

    #max-pixels {
      width: 100px;
    }
  }
  #submit-lobby {
    height: 130px;
  }
}
