<div class="card-content">
  <h2>Create a new lobby</h2>

  <span id="new-lobby-how-to">
    <p>
      Create a new lobby to start a new drawing with your friends.
    </p>
    <p>
      Enter a name for the new lobby below and click the 'Create Lobby' button to get started.
    </p>
    <p>
      Afterwards draw the initial few pixels to start of the drawing. Remeber not to draw too much so that your friends
      have enough free space remaining to draw their iterations. Also tell your friends not to draw too much.
    </p>
  </span>

  <div class="side-by-side">
    <div class="textbox-icon"
         tabindex="99999">
      <input type="text"
             class="textbox"
             id="lobby-name"
             placeholder="Lobby Name"
             [(ngModel)]="lobbyName" />
      <i class="fa-solid fa-pen"></i>
    </div>

    <input type="number"
           class="textbox"
           id="lobby-name"
           placeholder="Max Pixels"
           [(ngModel)]="maxPixels" />

    <input type="submit"
           class="button"
           id="lobby-name"
           value="Create Lobby"
           (click)="createLobby()" />
  </div>
</div>
