<div class="card-content">
  <h2>Create a new lobby</h2>

  <span id="new-lobby-how-to">
    <p>
      Create a new lobby to start a new drawing with your friends.
    </p>
    <p>
      Enter a name for the new lobby below and click the 'Create Lobby' button to get started.
    </p>
    <p>
      Afterwards draw the initial few pixels to start of the drawing. Remeber not to draw too much so that your friends
      have enough free space remaining to draw their iterations. Also tell your friends not to draw too much.
    </p>
  </span>

  <form class="side-by-side"
        #newLobby="ngForm"
        (ngSubmit)="createLobby()">
    <awd-textbox inputType="TEXT"
                 placeholder="Lobby Name"
                 required
                 [fontSize]="35"
                 icon="home"
                 name="lobbyName"
                 [minLength]="3"
                 [maxLength]="100"
                 [(ngModel)]="lobbyName"
                 [disabled]="clickedButton"></awd-textbox>

    <awd-textbox inputType="EMAIL"
                 placeholder="Email Address"
                 required
                 [fontSize]="35"
                 name="ownerEmail"
                 [(ngModel)]="emailAddress"
                 [disabled]="clickedButton"></awd-textbox>

    <awd-textbox inputType="TEXT"
                 placeholder="Max Pixels"
                 required
                 [fontSize]="35"
                 name="maxPixels"
                 [minValue]="1"
                 [maxValue]="99999"
                 [(ngModel)]="maxPixels"
                 [disabled]="clickedButton"></awd-textbox>

    <input type="submit"
           class="button"
           id="submit-lobby"
           value="Create Lobby"
           [disabled]="formDisabled" />
  </form>
</div>
