<div class="dialog-bg">
  <div class="dialog-container">
    Enter the color HEX code for the accent color of the generated images.

    <awd-textbox placeholder="HEX code"
                 pattern="^#[0-9A-F]{6}$"
                 [fontSize]="28"
                 [(ngModel)]="color"
                 required>
    </awd-textbox>

    <div id="color-preview"
         [style.background-color]="color">

    </div>

    <input type="checkbox"
           name="transparent"
           [(ngModel)]="transparent">
    <label for="transparent">Transparent</label>

    <div class="actions">
      <button class="button"
              (click)="cancel()">Cancel</button>
      <button class="button"
              [disabled]="!validInputs"
              (click)="submitImages()">Download Images</button>
      <button class="button"
              [disabled]="!validInputs"
              (click)="submitBack()">Download Back</button>
      <button class="button"
              [disabled]="!validInputs"
              (click)="submitFront()">Download Front</button>
    </div>
  </div>
</div>
