.dialog-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  #color-preview {
    height: 78px;
    width: 78px;
  }

  .actions {
    bottom: 10px;
    right: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .stacked {
      display: flex;
      flex-direction: column;
    }
  }
}
