<div class="paper-container" [style.--flex-gap]="flexGap">
  <h1>{{ i18n.history_title() }}</h1>
  <div #content class="content" [style.--zoom]="zoom()" (wheel)="gotWheel($event)">
    <div class="list">
      @for (canvas of canvasses(); track $index) {
        <div class="canvas">
          <awd-canvas
            [layers]="canvas.layers"
            [settings]="settings()"
            [isHistory]="true"
            [allowPaint]="false"
            [fixedSize]="size()"
          />
          <div class="footer">
            <span class="iteration-name" data-testid="iteration-name">{{ canvas.name }}</span>
            @if (lobby().isCreator) {
              <awd-button
                data-testid="edit-iteration"
                (onClick)="editIteration($index)"
                icon="fa-regular fa-pencil"
                [border]="false"
              />
            }
          </div>
        </div>
      }
    </div>
  </div>
  <div class="actions">
    <awd-button
      data-testid="submit-button"
      (onClick)="goBackToLobby()"
      [tooltip]="i18n.history_backToLobby()"
      icon="fa-regular fa-left"
    />
  </div>
</div>
