@use "vars";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .paper {
    width: min(90vw, 1100px);
    min-height: 90%;
    position: relative;
    padding: 16px;
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.25);
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: url(#paperFilter);
      @include vars.firefox {
        backdrop-filter: unset; // Backdrop filter doesn't work in Firefox
        filter: url(#paperFilter) contrast(0.5) brightness(1.35); // paper filter is way too strong in Firefox, so we need to tone it down
        clip-path: border-box;
      }
    }
    &.paper-main {
      view-transition-name: paper;
    }
    &.paper-bg {
      z-index: -1;
      position: absolute;
    }
    &.paper-bg-1 {
      transform: rotate(1deg) translateX(5px) translateY(4px);
    }
    &.paper-bg-2 {
      transform: rotate(-1deg);
    }
  }
}
