<div id="lobby-container">

  <span>{{lobby.name}}</span>

  <div class="square-container">
    <div #canvasContainer
         id="canvas-container">
      <canvas #canvas
              id="paint-canvas"
              [width]="width"
              [height]="height"
              (wheel)="gotWheel($event)"
              (mousedown)="mouseDown($event)"
              (mouseup)="mouseUp($event)"
              (mouseleave)="mouseLeave()"
              (mousemove)="mouseMove($event)"
              (contextmenu)="false"
              [style.--zoom]="zoom"
              [style.--offsetX]="offsetX + 'px'"
              [style.--offsetY]="offsetY + 'px'"></canvas>
    </div>
  </div>

</div>

<div id="lobby-actions"
     class="action-button-container">
  <div class="action-button"
       *ngFor="let action of visibleActions"
       (click)="action.action()">
    <i class="action-button-icon far fa-{{action.icon}}"></i>
  </div>
</div>
