@import '../../vars';

#lobby-container,
:host {
  height: 100%;
  width: 100%;
}

#lobby-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  resize: both;
  .locked {
    font-size: 20px;
    cursor: pointer;
    user-select: none;
  }
  .pixels-left {
    width: 90%;
    padding-top: 15px;
    .progres-bar {
      height: 20px;
      background-color: black;
    }
  }
  .square-container {
    position: relative;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 90vh;
    &:after {
      content: '';
      display: block;
      padding-bottom: 100%;
    }
    #canvas-container {
      position: absolute;
      display: flex;
      width: 80vmin;
      max-width: 100%;
      overflow: hidden;
      #paint-canvas {
        height: 100%;
        width: 100%;
        image-rendering: pixelated;
        image-rendering: -moz-crisp-edges;
        transform: scale(var(--zoom)) translateX(var(--offsetX)) translateY(var(--offsetY));
      }
    }
  }
}

#show-tutorial {
  position: fixed;
  top: 20px;
  right: 20px;
  color: #fff;
  border-radius: $icon-button-border-radius;
  background-color: $dark;
  cursor: pointer;
  padding: 25px;
  font-size: 64px;
  &:hover {
    background-color: $lighDark;
  }
}
