<div id="lobby-container">
  <span>{{lobby.name}} {{editTimeLeftLabel}}</span>
  <div *ngIf="canPaint"
       class="pixels-left">
    <div class="progres-bar"
         [style.width.%]="pixelsLeft / (lobby.settings.maxPixels ?? 100) * 100"></div>
  </div>
  <span *ngIf="isLockedBySomebodyElse"
        class="infoText"
        [tooltip]="'The lobby is currently locked by someone else'">
    <i class="fa-regular fa-lock"></i> Locked
  </span>
  <span *ngIf="isLockedByMe"
        class="infoText">
    <div *ngIf="hoveredCoordinates">
      <i class="fa-regular fa-location-crosshairs"></i> {{ hoveredCoordinates }}
    </div>
    <div>&nbsp;</div>
  </span>
  <span *ngIf="hasUnconfirmedIteration"
        class="locked"
        [tooltip]="'The lobby has an unconfirmed iteration'">
    <i class="fa-regular fa-clock"></i> Pending confirmation
  </span>
  <div class="square-container">
    <div #canvasContainer
         id="canvas-container">
      <canvas #canvas
              id="paint-canvas"
              [width]="width"
              [height]="height"
              (wheel)="gotWheel($event)"
              (mousedown)="mouseDown($event)"
              (mouseup)="mouseUp($event)"
              (mouseleave)="mouseLeave()"
              (mousemove)="mouseMove($event)"
              (contextmenu)="false"
              [style.--zoom]="zoom"
              [style.--offsetX]="offsetX + 'px'"
              [style.--offsetY]="offsetY + 'px'"></canvas>
    </div>
  </div>
</div>


<app-actions [actionItems]="actionItems"></app-actions>

<app-tutorial-overlay *ngIf="tutorialVisible"
                      [lockedBySomeone]="isLockedBySomebodyElse"
                      [lockedByMe]="isLockedByMe"
                      [hasInvite]="canStartToPaint"
                      [pendingConfirm]="hasUnconfirmedIteration"
                      [showControls]="explainControlsBeforeStart"
                      (closed)="hideTutorial()"></app-tutorial-overlay>

<button class="button icon"
        id="show-tutorial"
        [tooltip]="'Show help'"
        (click)="showTutorial()">
  <i class="fa-regular fa-circle-question"></i>
</button>
