<div class="paper-container">
  <h2>{{ i18n.download_title() }}</h2>
  <div class="content">
    <canvas
      #canvas
      [width]="canvasSize().width"
      [height]="canvasSize().height"
      id="download-preview"
    ></canvas>
  </div>
  <div class="actions">
    <awd-button
      data-testid="submit-button"
      (onClick)="goBackToHistory()"
      [tooltip]="i18n.shared_back()"
      icon="fa-regular fa-left"
    />
    <awd-button
      data-testid="settings-button"
      (onClick)="openSettings()"
      [tooltip]="i18n.download_openSettings()"
      icon="fa-regular fa-gear"
    />
    <awd-button
      data-testid="flip-button"
      (onClick)="flip()"
      [tooltip]="frontSide() ? i18n.download_flipToBack() : i18n.download_flipToFront()"
      icon="fa-regular fa-repeat"
    />
    <awd-button
      data-testid="download-button"
      (onClick)="download(false)"
      [tooltip]="i18n.download_downloadSide()"
      icon="fa-regular fa-file-arrow-down"
    />
    <awd-button
      data-testid="download-all-button"
      (onClick)="download(true)"
      [tooltip]="i18n.download_downloadAll()"
      icon="fa-regular fa-folder-arrow-down"
    />
  </div>
</div>
