@import './vars.scss';

html,
body {
  height: 100%;
  margin: 0;
  font-size: 1.4em;
  font-family: Montserrat, sans-serif;
  color: $dark;
  --tooltipFontSize: 32px;
  --tooltipPadding: 10px;
}

input {
  outline: none;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.action-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
  color: #fff;

  .action-button {
    &:first-child {
      border-top-left-radius: 25%;
      border-bottom-left-radius: 25%;
    }
    &:last-child {
      border-top-right-radius: 25%;
      border-bottom-right-radius: 25%;
    }
    background-color: $dark;
    cursor: pointer;
    padding: 25px;
    .action-button-icon {
      font-size: 64px;
    }
    &:hover {
      background-color: $lighDark;
    }
  }
}

.side-by-side {
  display: flex;
  gap: 10px;
  width: 90%;
}

.button,
.textbox,
.textbox-icon {
  font-family: Montserrat, sans-serif;
  font-size: 35px;
  margin: 0;
  color: $dark;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px $dark;
  transition: all 0.25s;
  padding: 18px;
}

.button {
  padding: 18px;
  cursor: pointer;
  border: 2px solid transparent;
  &:hover,
  &:active {
    background-color: $dark;
    color: #fff;
  }
  &:focus {
    border: 2px solid $dark;
  }
  &:active {
    transition: all 0s;
    background-color: $lighDark;
  }
}

.textbox,
.textbox-icon {
  border: 4px solid transparent;
  svg {
    padding-left: 15px;
  }
  &:hover,
  &:active,
  &:focus {
    background-color: $dark;
    color: #fff;
  }
  &:focus {
    border: 4px solid #fff;
  }
  width: inherit;
}

.textbox-icon {
  width: 100%;
  display: flex;
  align-items: center;
  .textbox {
    margin: 0;
    padding: 0;
    border: 0;
    box-shadow: unset;
    color: unset;
    background-color: unset;
    transition: unset;
  }
  svg {
    font-size: 40px;
  }
}

.tooltip,
.tooltip::before,
.tooltip::after {
  position: absolute;
  background-color: $dark;
  font-size: var(--tooltipFontSize);
  padding: var(--tooltipPadding);
}

.tooltip {
  background-color: $dark;
  color: white;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  transition: opacity 250ms;
  z-index: 3;
  &.visible {
    opacity: 1;
  }
  &::before,
  &::after {
    content: '!';
    color: $dark;
    top: 0;
    transform: skewX(-12deg);
    z-index: -1;
  }
  &::before {
    left: -8px;
  }
  &::after {
    right: -8px;
  }
}

.dialog-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backdrop-filter: blur(4px);
  display: flex;
  align-items: center;
  justify-content: center;
  .dialog-container {
    position: relative;
    width: max(50vw, 500px);
    height: max(30vh, 400px);
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px 0px black;
    padding: 25px;
    .close-button {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }
  }
}
