$colorBg1: rgb(230, 232, 240);
$colorBg2: rgb(215, 218, 222);
$colorBg3: rgb(200, 205, 210);

$colorBgHighlight: rgb(255 255 255);
$colorBgHighlight_001: rgba(0, 0, 0, 0.01);
$colorBgHighlight_03: rgba(255, 255, 255, 0.35);
$colorBgHighlight_05: rgba(255, 255, 255, 0.6);

$colorContent1: rgb(13, 13, 18);
$colorContent2: rgb(34, 34, 48);
$colorContent3: rgb(67, 67, 108);

$colorAccent1: rgb(255, 0, 82);
$colorAccent2: rgb(255, 160, 30);

$colorError: rgb(238, 31, 16);
