$fontFamily: "Playpen Sans", serif;

$fontWeightNormal: 400;
$fontWeightBold: 600;

$fontSizeBase: 48px;

$fontSizeSmall: 0.875 * $fontSizeBase;
$fontSizeNormal: $fontSizeBase;
$fontSizeLarge: 1.125 * $fontSizeBase;
$fontSizeGiant: 1.5 * $fontSizeBase;

$fontSizeSmallPhone: 0.6 * $fontSizeBase;
