$fontFamily: 'Playpen Sans', serif;

$fontWeightNormal: 400;
$fontWeightBold: 600;

$fontSizeBase: 30px;

$fontSizeSmall: 0.875 * $fontSizeBase;
$fontSizeNormal: $fontSizeBase;
$fontSizeLarge: 1.5 * $fontSizeBase;
$fontSizeGiant: 2 * $fontSizeBase;

$fontSizeSmallPhone: 0.6 * $fontSizeBase;
