@use 'sass:math';

@mixin firefox {
  @supports (-moz-appearance: none) {
    @content;
  }
}
@mixin not-firefox {
  @supports not (-moz-appearance: none) {
    @content;
  }
}

$squigglyCount: 20;
$timePerSquiggle: 80ms;
$animationTime: $squigglyCount * $timePerSquiggle;
@mixin squiggleFilter($i) {
  filter: url('#squiggly-#{$i}')
    blur(var(--squiggle-amount, calc(var(--font-size-int, 32px) * var(--blurMultiplier))))
    contrast(var(--contrast));
}
@mixin squiggly-init {
  body {
    @include not-firefox {
      --blurMultiplier: 0.03;
      --contrast: 3;
    }
    @include firefox {
      --contrast: 2;
      --blurMultiplier: 0.01;
    }
  }

  @keyframes squiggly {
    @for $i from 0 through ($squigglyCount - 1) {
      #{math.div(100, ($squigglyCount - 1)) * $i + '%'} {
        @include squiggleFilter($i);
      }
    }
  }
}
@mixin squiggly {
  animation: squiggly $animationTime linear infinite;
  background: white;
  mix-blend-mode: multiply;
}

@mixin static-squiggle($amount: m) {
  background: white;
  mix-blend-mode: multiply;
  @include squiggleFilter($amount);
}

@mixin fontSize($size) {
  font-size: $size;
  --font-size-int: #{$size};
}
