<div class="paper-container">
  <h2>
    {{ isEditMode ? i18n.lobby_editTitle() : i18n.lobby_title() }}
    @if (lockedInfo().kind !== 'none') {
      <i class="fa-regular fa-lock-keyhole"></i>
    } @else if (hasUnconfirmedContribution()) {
      <i class="fa-regular fa-clock"></i>
    }
  </h2>
  <h3 class="lobby-name">{{ lobby().name }}</h3>
  <div class="content">
    <awd-canvas
      [layers]="layers()"
      [settings]="settings()"
      [allowPaint]="isDrawing() || isEditMode"
      [isEditMode]="isEditMode"
      [mobileEraseMode]="mobileEraseMode()"
    />
  </div>
  <div class="actions">
    @if (isEditMode) {
      <awd-button
        data-testid="edit-save-button"
        (onClick)="saveEdit()"
        [tooltip]="i18n.shared_save()"
        icon="fa-regular fa-floppy-disk"
      />
      <awd-button
        data-testid="edit-cancel-button"
        (onClick)="navigateBackToHistory()"
        [tooltip]="i18n.shared_cancel()"
        icon="fa-regular fa-xmark"
      />
      <awd-button
        data-testid="reset-button"
        (onClick)="resetImage()"
        [tooltip]="i18n.lobby_actions_reset()"
        icon="fa-regular fa-trash-xmark"
      />
      <awd-button
        data-testid="reset-button"
        (onClick)="changeName()"
        [tooltip]="i18n.lobby_actions_changeName()"
        icon="fa-regular fa-input-text"
      />
      <awd-button
        data-testid="reset-button"
        (onClick)="changePosition()"
        [tooltip]="i18n.lobby_actions_changePosition()"
        icon="fa-regular fa-location-dot"
      />
    } @else {
      @if (!isDrawing()) {
        <awd-button
          data-testid="back-button"
          (onClick)="navigateHome()"
          [tooltip]="i18n.shared_goHome()"
          icon="fa-regular fa-house"
        />
        @if (inviteCode()) {
          <awd-button
            data-testid="start-drawing-button"
            (onClick)="startDrawing()"
            [tooltip]="i18n.lobby_actions_startDrawing()"
            icon="fa-regular fa-paintbrush"
          />
        }
        @if (isCreator) {
          <awd-button
            data-testid="create-invite-button"
            (onClick)="createInvite()"
            [tooltip]="i18n.lobby_actions_createInvite()"
            icon="fa-regular fa-ticket"
          />
          @if (hasUnconfirmedContribution()) {
            <awd-button
              data-testid="accept-button"
              (onClick)="acceptIteration()"
              [tooltip]="i18n.lobby_actions_accept()"
              icon="fa-regular fa-check"
            />
            <awd-button
              data-testid="reject-button"
              (onClick)="rejectIteration()"
              [tooltip]="i18n.lobby_actions_reject()"
              icon="fa-regular fa-xmark"
            />
          }
        }
        <awd-button
          data-testid="show-history-button"
          (onClick)="showHistory()"
          [tooltip]="i18n.lobby_actions_showHistory()"
          icon="fa-regular fa-layer-group"
        />
      } @else {
        <awd-button
          data-testid="submit-button"
          (onClick)="submitContribution()"
          [tooltip]="i18n.lobby_actions_submitContribution()"
          icon="fa-regular fa-square-check"
        />
        <awd-button
          data-testid="reset-button"
          (onClick)="resetImage()"
          [tooltip]="i18n.lobby_actions_reset()"
          icon="fa-regular fa-trash-xmark"
        />
      }
    }
    @if ((isEditMode || isDrawing()) && isMobile) {
      <awd-button
        [active]="mobileEraseMode()"
        data-testid="toggle-eraser-pencil-toggle-button"
        (onClick)="togglePencilEraser()"
        [tooltip]="i18n.lobby_actions_reset()"
        icon="fa-regular fa-eraser"
      />
    }
  </div>
</div>
