.auth-base {
  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;

    button.svg-button {
      display: flex;
      align-items: center;
      gap: 12px;
    }
  }
}
