<div class="dialog-bg">
  <div class="dialog-container"
       *ngIf="iteration">
    Edit iteration {{ iteration.id }} of {{ iteration.name || '[not set]' }}



    <div class="side-by-side">
      <awd-textbox inputType="TEXT"
                   name="newName"
                   placeholder="New Name"
                   [(ngModel)]="newName"
                   [fontSize]="36"> </awd-textbox>
      <awd-textbox inputType="NUMERIC"
                   name="newIndex"
                   placeholder="New Index"
                   [minValue]="0"
                   [maxValue]="(lobby?.pixelIterations?.length ?? 1) - 1"
                   [(ngModel)]="newIndex"
                   [fontSize]="36">
      </awd-textbox>
    </div>
    <div class="actions">
      <button class="button"
              data-testid="edit-iteration-delete"
              (click)="remove()">Delete</button>
      <button class="button"
              data-testid="edit-iteration-dismiss"
              (click)="dismiss()">Cancel</button>
      <button class="button"
              data-testid="edit-iteration-save"
              (click)="save()">Save</button>
    </div>
  </div>
</div>
