<div class="dialog-bg">
  <div class="dialog-container"
       *ngIf="iteration">
    Edit iteration {{iterationIndex ?? '?'}} of {{iteration.name}}

    <div class="side-by-side">
      <awd-textbox inputType="TEXT"
                   placeholder="New Name"
                   [(ngModel)]="newName"
                   [fontSize]="36">
      </awd-textbox>
      <awd-textbox inputType="NUMERIC"
                   placeholder="New Index"
                   [(ngModel)]="newIndex"
                   [fontSize]="36">
      </awd-textbox>
    </div>
    <div class="actions">
      <button class="button"
              (click)="dismiss()">Cancel</button>
      <button class="button"
              (click)="save()">Save</button>
    </div>
  </div>
</div>
