<div class="dialog-bg">
  <div class="dialog-container">
    Please enter your contact details to submit the increment:

    <div id="user-info-container">
      <awd-textbox inputType="TEXT"
                   placeholder="Your Name"
                   [(ngModel)]="name"
                   required
                   name="yourName"
                   [fontSize]="36">
      </awd-textbox>

      <awd-textbox inputType="EMAIL"
                   placeholder="Your Email"
                   [(ngModel)]="email"
                   required
                   name="yourEmail"
                   [fontSize]="36">
      </awd-textbox>
    </div>

    <div class="actions">
      <button class="button"
              data-testid="logout"
              *ngIf="hasSession()"
              (click)="logout()">
        Logout
      </button>
      <button class="button"
              data-testid="login"
              *ngIf="!hasSession()"
              (click)="login()">
        Login
      </button>
      <button class="button"
              data-testid="details-cancel"
              *ngIf="canDoLater"
              (click)="cancel()">
        Later
      </button>
      <button class="button"
              data-testid="details-submit"
              [disabled]="!validInputs"
              (click)="submit()">
        Submit
      </button>
    </div>
  </div>
</div>
