<div class="dialog-bg">
  <div class="dialog-container">
    <div id="mobile-note-content">
      <h2>Welcome to Paint Increment</h2>
      <p>
        Unfortunately, Paint Increment is not optimized for mobile use. Please open the link on your computer to
        contribute to this lobby. You can still view the lobby on your phone, however, the experience will be limited.
      </p>
    </div>

    <div class="actions">
      <button class="button"
              (click)="dismiss()">Dismiss</button>
    </div>
  </div>
</div>
