@import '../../vars.scss';

.tutorial-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  .tutorial-overlay {
    width: min(max(400px, 50vw), 1000px);
    position: fixed;
    font-size: 28px;
    box-shadow: $shadow;
    border-radius: 5px;
    padding: 10px;
    backdrop-filter: blur(2px);
    display: flex;
    pointer-events: none;
    user-select: none;
    .button {
      pointer-events: all;
      align-self: flex-end;
    }
  }
}
