<div class="paper-container">
  <h2>{{ i18n.newLobby_title() }}</h2>
  <div class="content">
    <form [formGroup]="form">
      <awd-textbox
        inputType="text"
        [placeholder]="i18n.newLobby_name()"
        required
        [fontSize]="35"
        icon="pencil"
        icon2="input-text"
        formControlName="name"
      />

      <awd-textbox
        inputType="number"
        [placeholder]="i18n.newLobby_maxPixels()"
        required
        [fontSize]="35"
        icon="pencil"
        icon2="tally"
        formControlName="maxPixels"
      />

      <awd-textbox
        inputType="number"
        [placeholder]="i18n.newLobby_size()"
        required
        [fontSize]="35"
        icon="pencil"
        icon2="ruler-combined"
        formControlName="size"
      />

      <awd-textbox
        inputType="number"
        [placeholder]="i18n.newLobby_timeLimit()"
        required
        [fontSize]="35"
        icon="hourglass-start"
        icon2="hourglass-end"
        formControlName="timeLimit"
      />
    </form>
  </div>

  <div class="actions">
    <awd-button
      data-testid="my-lobbies-button"
      (onClick)="goToHome()"
      [text]="i18n.shared_goHome()"
    />
    <awd-button
      data-testid="create-lobby-button"
      (onClick)="createLobby()"
      [text]="i18n.newLobby_create()"
    />
  </div>
</div>
