<div id="download-main-container">
  <canvas #canvas
          *ngIf="canvasSize$ | async as canvasSize"
          [width]="canvasSize.width"
          [height]="canvasSize.height"
          id="download-preview"></canvas>

  <div class="actions">
    <awd-textbox placeholder="HEX code"
                 pattern="^#[0-9A-Fa-f]{6}$"
                 [fontSize]="28"
                 [(ngModel)]="color"
                 required> </awd-textbox>

    <div id="color-preview"
         [style.background-color]="color"></div>

    <awd-textbox placeholder="Column Count"
                 [inputType]="'NUMERIC'"
                 [fontSize]="28"
                 [minValue]="1"
                 [maxValue]="10"
                 [(ngModel)]="columns"
                 required>
    </awd-textbox>

    <awd-checkbox identifier="transparent"
                  [(ngModel)]="transparent"
                  labelText="Transparent"></awd-checkbox>
    <awd-checkbox identifier="renderYear"
                  [(ngModel)]="renderYear"
                  labelText="Render Year"></awd-checkbox>
    <awd-checkbox identifier="renderEdgePixels"
                  [(ngModel)]="renderEdgePixels"
                  labelText="Render Edge Pixels"></awd-checkbox>
  </div>
</div>

<app-actions [actionItems]="actionItems"></app-actions>
