<div class="paper-container">
  <h2 class="wrap">{{ i18n.home_title() }}</h2>
  <div class="content"></div>
  <div class="actions">
    <awd-button
      data-testid="create-lobby-button"
      (onClick)="navigateToNewLobby()"
      [text]="i18n.home_createLobby()"
    />
    <awd-button
      data-testid="my-lobbies-button"
      (onClick)="navigateToMyLobbies()"
      [text]="i18n.home_myLobbies()"
    />
    @if (loggedIn()) {
      <awd-button data-testid="logout-button" (onClick)="logout()" [text]="i18n.shared_logout()" />
    }
  </div>
</div>
