<div class="card-content">
  <h2>Welcome to Paint Increment</h2>

  <span id="how-to">
    <p>
      Paint Increment allows you and your friends to collaborate on a drawing. The main idea is to put the result,
      including the
      whole history, on a t-shirt.
    </p>
    <p>
      You start by creating a lobby with the initial drawing. Then send a link to all your friends for them to
      contribute. Only
      one person can draw at a time, they have to reserve the canvas to start drawing. This ensures a clean history with
      each
      individual increment (hence the name).
    </p>
  </span>

  <div class="bot-actions">
    <button class="button"
            data-testid="create-lobby-button"
            (click)="navigateToNewLobby()">Create Lobby</button>
    <button class="button"
            data-testid="create-lobby-button"
            (click)="navigateToMyLobbies()">My lobbies</button>
  </div>
</div>
