@use "vars";
@use "sass:math";

$squigglyCount: 10;
$timePerSquiggle: 80ms;
$animationTime: $squigglyCount * $timePerSquiggle;

span {
  font-size: vars.$fontSizeGiant;
  font-weight: vars.$fontWeightBold;
  animation: squiggly $animationTime linear infinite;
}

@keyframes squiggly {
  @for $i from 0 through ($squigglyCount - 1) {
    #{math.div(100, ($squigglyCount - 1)) * $i + "%"} {
      filter: url("#squiggly-#{$i}");
    }
  }
}
