<awd-base />

<svg style="width: 0; height: 0; position: absolute">
  <filter id="paperFilter">
    <feTurbulence type="fractalNoise" baseFrequency="0.04" result="noise" numOctaves="5" />

    <feDiffuseLighting in="noise" lighting-color="#fff" surfaceScale="2">
      <feDistantLight azimuth="45" [attr.elevation]="65" />
    </feDiffuseLighting>
  </filter>
  <filter id="squiggly-s">
    <feTurbulence id="turbulence" baseFrequency="0.01" numOctaves="3" result="noise" seed="0" />
    <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="2" />
  </filter>
  <filter id="squiggly-m">
    <feTurbulence id="turbulence" baseFrequency="0.02" numOctaves="3" result="noise" seed="0" />
    <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="5" />
  </filter>
  <filter id="squiggly-l">
    <feTurbulence id="turbulence" baseFrequency="0.01" numOctaves="2" result="noise" seed="0" />
    <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="15" />
  </filter>
  @for (i of squigglyCount; track i) {
    <filter [id]="'squiggly-' + i">
      <feTurbulence
        id="turbulence"
        baseFrequency="0.02"
        numOctaves="3"
        result="noise"
        [attr.seed]="i"
      />
      <feDisplacementMap id="displacement" in="SourceGraphic" in2="noise" scale="5" />
    </filter>
  }
</svg>

<div [style.left.px]="cursorPos().left" [style.top.px]="cursorPos().top" class="cursor-img bg">
  <img [src]="cursorUrl()" alt="" aria-hidden="true" />
</div>
<div [style.left.px]="cursorPos().left" [style.top.px]="cursorPos().top" class="cursor-img">
  <img [src]="cursorUrl()" alt="" aria-hidden="true" />
</div>
