@use 'vars';

$padding: 8px;

.cursor-img {
  user-select: none;
  view-transition-name: cursor;
  position: fixed;
  z-index: 100000;
  pointer-events: none;
  width: 100px;
  height: 100px;
  transform: translate(-50%, -50%);
  mix-blend-mode: multiply;
  img {
    transform: scale(0.76) translate(-$padding, -$padding);
    --squiggle-amount: 1.5px;
    @include vars.squiggly;
    padding: $padding;
  }
  &.bg {
    view-transition-name: cursor-bg;
    filter: blur(3px) brightness(0.5) contrast(30) brightness(5) invert(1);
    mix-blend-mode: lighten;
  }
}
