<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="main.js" verb="*" modules="iisnode"/>
        </handlers>
        <rewrite>
            <rules>
                <rule name="NestJs" patternSyntax="Wildcard">
                    <match url="*" />
                    <action type="Rewrite" url="main.js" />
                </rule>
            </rules>
        </rewrite>
        <webSocket enabled="false" />
    </system.webServer>
</configuration>
