<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="iisnode" path="main.js" verb="*" modules="iisnode" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="WebSocket remove keep-alive header" stopProcessing="true">
                  <match url="(.*)socket\.io/" />
                  <serverVariables>
                        <set name="HTTP_CONNECTION" value="Upgrade" />
                  </serverVariables>
                  <action type="Rewrite" url="main.js" />
                    <conditions logicalGrouping="MatchAny">
                        <add input="{HTTP_CONNECTION}" pattern="keep-alive, Upgrade" />
                        <add input="{HTTP_CONNECTION}" pattern="Upgrade, keep-alive" />
                    </conditions>
                </rule>
                
                <rule name="NestJs" patternSyntax="Wildcard">
                    <match url="*" />
                    <serverVariables>
                      <set name="HTTP_CONNECTION" value="Upgrade" />
                    </serverVariables>
                    <action type="Rewrite" url="main.js" />
                </rule>
            </rules>
        </rewrite>
        <webSocket enabled="false" />

    </system.webServer>
</configuration>
