@use 'vars';

button {
  font-family: vars.$fontFamily;
  font-weight: vars.$fontWeightBold;
  @include vars.fontSize(vars.$fontSizeNormal);
  border: none;
  position: relative;
  background: transparent;
  padding: 2px;
  user-select: none;
  --cursor: pointer;
  &:hover {
    @include vars.squiggly;
  }
  @include vars.static-squiggle(s);
  &.border {
    padding: 16px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 5px solid black;
      outline: 5px white solid;
      border-radius: 40px;
      @include vars.static-squiggle(l);
    }
  }
}
