@use 'vars';

button {
  display: flex;
  align-items: center;
  gap: 8px;
  font-family: vars.$fontFamily;
  font-weight: vars.$fontWeightBold;
  @include vars.fontSize(vars.$fontSizeNormal);
  border: none;
  position: relative;
  background: transparent;
  padding: 2px;
  user-select: none;
  --cursor: pointer;
  &:hover,
  &:active,
  &:focus {
    @include vars.squiggly;
    outline: none;
  }
  @include vars.static-squiggle(s);
  &.border {
    padding: 16px;
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border: 5px solid black;
      outline: 5px white solid;
      border-radius: 40px;
      @include vars.static-squiggle(l);
    }
  }
  &.active {
    color: #ff0099;
  }
  img {
    width: 48px;
    height: 48px;
  }
}
