@use 'vars';

button {
  font-family: vars.$fontFamily;
  @include vars.fontSize(vars.$fontSizeNormal);
  border: none;
  position: relative;
  background: transparent;
  padding: 12px;
  cursor: pointer;
  &:hover {
    @include vars.squiggly;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid black;
    outline: 5px white solid;
    border-radius: 40px;
    --squiggle-amount: 1.5px;
    @include vars.static-squiggle;
  }
}
